<!DOCTYPE html>
<html>
  <head>
    <title>Flock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">

        <% if @current_user %>
          <%= link_to("Flock", "/user/:id") %>
        <% else %>
          <%= link_to("Flock", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
        <div class="username">


          <li>
            <img src="<%= "#{@current_user.image_url}" %>">
          </li>
          <li>
            <%= @current_user.nickname %>
          </li>
          </div>
          <li>
            <%= link_to("マイページ", "/user/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/posts") %>
          </li>
          <li>
            <%= link_to("募集作成", "/create") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("Flockとは", "/") %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/posts") %>
          </li>
          <li>
            <%= link_to("Twitterでログイン", "/auth/twitter") %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
    <div class="footer">

      <div class="footer-logo">
        Flock
      </div>
      <div class="footer-menu">
        <ul>
          <li>お知らせ</li>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
          <li>お問い合わせ</li>
        </ul>


      </div>



    </div>


  </body>

</html>
